body
{
    background:url(../image/bg2.png);
    display: flex;
    justify-content: center;
}
.mere{
    width: 1200px;
    height: 600px;
    background-color:gray;
    background-position: center;
    display: flex;
}
